#isgw2calc #menu span
{
	padding-right: 20px;
}

#isgw2calc #menu
{
	width: 246px;
	margin:0 auto;
}

#isgw2calc #professions
{
	margin:0 auto; 
	width: auto; 
	display: table;
}

#isgw2calc #professions a img
{
	opacity: 0.5;
}

#isgw2calc .build_navigation
{
	width: 32px;
	float: left;
	margin-top: 25px;
}

#isgw2calc span.gradient-line {
	height: 1px;
	display: block;
}

#isgw2calc .build_navigation span.gradient-line {
	display: none;
}

#isgw2calc span.gradient-left {
	width: 50px;
	margin-left: -18px;
	
	background: -moz-linear-gradient(left,  rgba(190,181,174,0) 0%, rgba(190,181,174,1) 18px, rgba(190,181,174,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(190,181,174,0)), color-stop(18px,rgba(190,181,174,1)), color-stop(100%,rgba(190,181,174,1)));
	background: -webkit-linear-gradient(left,  rgba(190,181,174,0) 0%,rgba(190,181,174,1) 18px,rgba(190,181,174,1) 100%);
	background: -o-linear-gradient(left,  rgba(190,181,174,0) 0%,rgba(190,181,174,1) 18px,rgba(190,181,174,1) 100%);
	background: -ms-linear-gradient(left,  rgba(190,181,174,0) 0%,rgba(190,181,174,1) 18px,rgba(190,181,174,1) 100%);
	background: linear-gradient(to right,  rgba(190,181,174,0) 0%,rgba(190,181,174,1) 18px,rgba(190,181,174,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00beb5ae', endColorstr='#beb5ae',GradientType=1 );
}

#isgw2calc span.gradient-right {
	width: 50px;
	
	background: -moz-linear-gradient(left,  rgba(190,181,174,1) 0%, rgba(190,181,174,1) 75%, rgba(190,181,174,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(190,181,174,1)), color-stop(75%,rgba(190,181,174,1)), color-stop(100%,rgba(190,181,174,0)));
	background: -webkit-linear-gradient(left,  rgba(190,181,174,1) 0%,rgba(190,181,174,1) 75%,rgba(190,181,174,0) 100%);
	background: -o-linear-gradient(left,  rgba(190,181,174,1) 0%,rgba(190,181,174,1) 75%,rgba(190,181,174,0) 100%);
	background: -ms-linear-gradient(left,  rgba(190,181,174,1) 0%,rgba(190,181,174,1) 75%,rgba(190,181,174,0) 100%);
	background: linear-gradient(to right,  rgba(190,181,174,1) 0%,rgba(190,181,174,1) 75%,rgba(190,181,174,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#beb5ae', endColorstr='#00beb5ae',GradientType=1 );
}

#isgw2calc span.color-fill {
	display: none;
	height: 32px;
	position: absolute;
	width: 18px;
	margin-left: -18px;
	
	background: -moz-linear-gradient(left,  rgba(65,49,36,0) 0%, rgba(65,49,36,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(65,49,36,0)), color-stop(100%,rgba(65,49,36,1)));
	background: -webkit-linear-gradient(left,  rgba(65,49,36,0) 0%,rgba(65,49,36,1) 100%);
	background: -o-linear-gradient(left,  rgba(65,49,36,0) 0%,rgba(65,49,36,1) 100%);
	background: -ms-linear-gradient(left,  rgba(65,49,36,0) 0%,rgba(65,49,36,1) 100%);
	background: linear-gradient(to right,  rgba(65,49,36,0) 0%,rgba(65,49,36,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00413124', endColorstr='#413124',GradientType=1 );
}

#isgw2calc .build_navigation span.line-top {
	
}

#isgw2calc .build_navigation span.line-bottom {
	margin-top: 32px;
}

#isgw2calc .build_container
{
	overflow: hidden;
	border-left: 1px solid #beb5ae;
	background: #413124;
	min-height: 500px;
}

#isgw2calc .armorAccessoryContainer {
	float: left;
	width: 60px;
}

#isgw2calc .selectionAreaContainer {
	overflow: hidden;
	height: 428px;
	background: url('../images/comingSoon.png') center center no-repeat;
}

#isgw2calc .selectionArea {
	height: 100%;
	background: #72543c !important;
	border: none;
	padding-right: 0;
	
	/* Border radius */
	-webkit-border-radius: 0;
    border-radius: 0;
}

#isgw2calc .selectionArea .activeArrow {
	/*display: none;*/
	opacity: 0;
	position: absolute;
	
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#isgw2calc .selectionArea .activeVertical {
	width: 20px;
	height: 60px;
	margin-left: -3px;
	margin-top: 365px;
	background: url('../images/menu/selectionAreaVertical.png');
}

#isgw2calc .selectionArea .activeHorizontal {
	width: 60px;
	height: 20px; 
	background: url('../images/menu/selectionAreaHorizontal.png');
	margin-top: 405px;
}

#isgw2calc .selectionArea[data-active=activeHelmet] .activeVertical,
#isgw2calc .selectionArea[data-active=activeShoulders] .activeVertical,
#isgw2calc .selectionArea[data-active=activeChest] .activeVertical,
#isgw2calc .selectionArea[data-active=activeHead] .activeVertical,
#isgw2calc .selectionArea[data-active=activeGloves] .activeVertical,
#isgw2calc .selectionArea[data-active=activeLeggings] .activeVertical,
#isgw2calc .selectionArea[data-active=activeBoots] .activeVertical,
#isgw2calc .selectionArea[data-active=activeAmulet] .activeVertical {
	display: block;
	float: left;
	opacity: 1;
}

#isgw2calc .selectionArea[data-active=activeMain1] .activeHorizontal,
#isgw2calc .selectionArea[data-active=activeOff1] .activeHorizontal,
#isgw2calc .selectionArea[data-active=activeMain2] .activeHorizontal,
#isgw2calc .selectionArea[data-active=activeOff2] .activeHorizontal,
#isgw2calc .selectionArea[data-active=activeWaterMain1] .activeHorizontal,
#isgw2calc .selectionArea[data-active=activeWaterOff1] .activeHorizontal,
#isgw2calc .selectionArea[data-active=activeWaterMain2] .activeHorizontal,
#isgw2calc .selectionArea[data-active=activeWaterOff2] .activeHorizontal {
	display: block;
	float: left;
	opacity: 1;
}

#isgw2calc .selectionArea[data-active=activeHelmet] .activeVertical {
	margin-top: -4px;
}

#isgw2calc .selectionArea[data-active=activeShoulders] .activeVertical {
	margin-top: 52px;
}

#isgw2calc .selectionArea[data-active=activeChest] .activeVertical {
	margin-top: 107px;
}

#isgw2calc .selectionArea[data-active=activeGloves] .activeVertical {
	margin-top: 168px;
}

#isgw2calc .selectionArea[data-active=activeLeggings] .activeVertical {
	margin-top: 217px;
}

#isgw2calc .selectionArea[data-active=activeBoots] .activeVertical {
	margin-top: 272px;
}

#isgw2calc .selectionArea[data-active=activeAmulet] .activeVertical {
	margin-top: 337px;
}

#isgw2calc .selectionArea[data-active=activeMain1] .activeHorizontal {
	margin-left: 25px;
}

#isgw2calc .selectionArea[data-active=activeOff1] .activeHorizontal {
	margin-left: 84px;
}

#isgw2calc .selectionArea[data-active=activeMain2] .activeHorizontal {
	margin-left: 182px;
}

#isgw2calc .selectionArea[data-active=activeOff2] .activeHorizontal {
	margin-left: 241px;
}

#isgw2calc .selectionAreaNavContainer .close {
	width: 32px;
	height: 32px;
	cursor: pointer;
	float: right;
	margin: -46px -2px 0 0;
	background: url("../images/menu/close.png");
	background-position: left;
}

#isgw2calc .selectionAreaNavContainer .close:hover {
	background-position: right;
}

#isgw2calc .selectionArea .selectionAreaNav {
	display: table;
	margin: 0 auto;
}

#isgw2calc .selectionArea .selectionAreaNav li {
	margin: 0;
	padding: 0;
	width: 32px;
	height: 40px;
	border: none;
	background: none;
}

#isgw2calc .selectionArea .selectionAreaNav li a {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-position: left;
}

#isgw2calc .selectionArea .selectionAreaNav li a:hover,
#isgw2calc .selectionArea .selectionAreaNav li.ui-tabs-active a {
	background-position: right;
}

#isgw2calc .selectionArea .selectionAreaNav li a.selectionAreaCombat {
	background-image: url('../images/menu/selectionAreaCombat.png');
}

#isgw2calc .selectionArea .selectionAreaNav li a.selectionAreaRunes {
	background-image: url('../images/menu/selectionAreaCombat.png');
}

#isgw2calc .selectionArea .selectionAreaNav li a.selectionAreaSigils {
	background-image: url('../images/menu/selectionAreaCombat.png');
}

#isgw2calc .selectionArea .selectionAreaNav li a.selectionAreaAmulets {
	background-image: url('../images/menu/selectionAreaCombat.png');
}

#isgw2calc .selectionArea .selectionAreaNav li a.selectionAreaJewels {
	background-image: url('../images/menu/selectionAreaCombat.png');
}

#isgw2calc .selectionArea .selectionAreaNav li a.selectionAreaCosmetic {
	background-image: url('../images/menu/selectionAreaCosmetic.png');
}

#isgw2calc .selectionArea .selectionAreaContent {
	height: 360px;
	overflow-x: visible;
}


#isgw2calc #weapons
{
	display: block;
	margin: 10px 0 0 93px;
	float: left;
}

#isgw2calc #weapons .weapon {
	display: inline-block;
}

#isgw2calc #gear
{
	display: block;
	overflow: hidden;
}

#isgw2calc #runes
{

	color:#fff;
}

#isgw2calc #accessories
{
	overflow: hidden;
	display: block;
	margin-top: -5px;
}


#isgw2calc .att 
{
	width: 50%;
}

#isgw2calc .att span.value {
	margin-top: 7px;
	vertical-align: top;
	display: inline-block;
}

#isgw2calc #display table {
	width: 100%;
}

#isgw2calc #display table tr
{
	font-size: 13px;
}

#isgw2calc #display table tr:nth-child(even)
{
	background: rgba(255,255,255,.1);
}

#isgw2calc #sigils
{
	
}


#isgw2calc .empty-slot.sigil-slot
{
	margin: 18px 0 5px -32px;
}


#isgw2calc .empty-slot
{
	margin: 18px 0 5px -37px;
	width:30px;
	height:30px;
	float:left;
	display:block;
	cursor: pointer;
/*	background-color: rgba(0,0,0,.5);
	visibility: hidden;
*/
}
/*
#isgw2calc div:hover > .empty-slot,
#isgw2calc div:hover > div.sigils > .empty-slot,
#isgw2calc .empty-slot:hover {
	visibility: visible;
}

#isgw2calc .empty-slot:hover
{
	border: solid 1px #e29653;
	padding: 0;
	background-color: rgba(0,0,0,.75);
}*/

#isgw2calc .armor,
#isgw2calc .amulet
{
	width: 50px;
	height: 50px;
	margin: 5px 0;
	overflow: hidden;
}

#isgw2calc .amulet {
	margin-top: 15px;
}

#isgw2calc .weapon
{
	/*float: left;
	width:125px;*/
	
}

#isgw2calc .weapon .separate_weapon {
	display: inline-block;
}

#isgw2calc .weapon_swap
{
	height: 24px;
	width: 27px;
	display: inline-block;
	background: url('../images/weapon_swap.png') no-repeat center;
	margin: 12px 5px 0;
	vertical-align: top;
	cursor: pointer;
}


#isgw2calc .armor-img
{
	width:50px;
	height: 50px;
	background-size: 50px;
	float:left;
	margin-right:5px;
	cursor: pointer;
}

#isgw2calc .armor .armor-img,
#isgw2calc .amulet .armor-img,
#isgw2calc .weapon-container .weapon-img {
	-webkit-border-radius: 1px;
    border-radius: 1px;
}

#isgw2calc .armor[data-armor] .armor-img,
#isgw2calc .amulet[data-amulet] .armor-img,
#isgw2calc .weapon-container[data-weapon] .weapon-img {
	-webkit-box-shadow: inset 0px 0px 0px 2px rgba(190, 181, 174, 0.5);
	box-shadow: inset 0px 0px 0px 2px rgba(190, 181, 174, 0.5);
}

#isgw2calc .armor:hover .armor-img,
#isgw2calc .armor.active .armor-img,
#isgw2calc .amulet:hover .armor-img,
#isgw2calc .amulet.active .armor-img,
#isgw2calc .weapon-container:hover .weapon-img,
#isgw2calc .weapon-container.active .weapon-img {
	-webkit-box-shadow: inset 0px 0px 0px 2px rgba(190, 181, 174, 1);
	box-shadow: inset 0px 0px 0px 2px rgba(190, 181, 174, 1);
}

#isgw2calc .armor-img.armor-helmet {
	background-image: url('../images/armor/helmet.png');
}

#isgw2calc .armor-img.armor-shoulders {
	background-image: url('../images/armor/shoulders.png');
}

#isgw2calc .armor-img.armor-chest {
	background-image: url('../images/armor/chest.png');
}

#isgw2calc .armor-img.armor-gloves {
	background-image: url('../images/armor/gloves.png');
}

#isgw2calc .armor-img.armor-leggings {
	background-image: url('../images/armor/leggings.png');
}

#isgw2calc .armor-img.armor-boots {
	background-image: url('../images/armor/boots.png');
}

#isgw2calc .armor-img.amulet-slot {
	background-image: url('../images/amulets/amulet.png');
}

#isgw2calc .weapon-img {
	height: 50px;
	width: 50px;
	float:left;
	display: block;
	cursor: pointer;
}

#isgw2calc .weapon .separate_weapon .weapon-main {
	background: url('../images/weapons/mainhand.png') no-repeat center;
}

#isgw2calc .weapon .separate_weapon .weapon-off {
	background: url('../images/weapons/offhand.png') no-repeat center;
}

#isgw2calc #trinket
{
	height: 50px;
	width: 50px;
	float:left;
	display: block;
	background: url('../images/trinkets/amulet.png') no-repeat center;
	cursor: pointer;
}

#isgw2calc .weapon_set_icon {
	margin: 0 -10px;
	width: 19px;
	height: 19px;
	display: inline-block;
	position: relative;
	top: -19px;
}

#isgw2calc .weapon_set_1 {
	background: url('../images/weapon_set_1.png') no-repeat center;
}

#isgw2calc .weapon_set_2 {
	background: url('../images/weapon_set_2.png') no-repeat center;
}

#isgw2calc .weapon_pick:hover
{
	/*border: 2px solid #e29653;
	margin: -2px;*/
	
}



.ui-dialog
{
	background-color: rgba(0,0,0,.75) !important;
	border: 1px solid #000 !important;
	position: absolute;
	padding: 0 !important;
}

.ui-button
{
	background: url('../images/close_small.png') no-repeat center !important;
	height: 10px !important;
	width: 11px !important;
	float: right !important;
	border: none !important;
	margin: -4px 0 0 0 !important;
}

.ui-button:hover
{
	background: url('../images/close_small.png') no-repeat center !important;
	border: none !important;
}

.ui-dialog-titlebar
{
	color:#fff !important;
	font-size: 11px !important;
	background-color: #000 !important;
	height:14px !important;
	padding: 0 !important; 
}

.ui-dialog-content
{
	width: 200px;
}

.ui-cluetip-content
{
	background-color: rgba(0,0,0,.75) !important;
	padding: 5px 0px 0px 12px;
	color: #fff;
}

.cluetip-title
{
	background: #000;
	border: none;
	color: #fff;
	font-size: 11px;
	font-weight: normal;
	padding: 3px;
}

.cluetip-outer
{
	height:100%;
}

.ui-widget-content
{
	background:none !important;
	border: none !important;
}



#rune_bonus
{
	
}

.tooltip .tooltip_frame
{ 
    display: none; 
}

.tooltip .trait_tooltip_frame
{ 
    display: none; 
}


.tooltip:hover
{ 
    position: relative;
    z-index: 79; 
}

.tooltip:hover .tooltip_frame 
{ 
    display: block;
    width: 200px;
    color: #eee; 
    position: absolute;
    top:105%;
    left:105%; 
    background: rgba(0,0,0,.8);
	border: 2px solid rgba(0,0,0,.9);
    padding:5px; 
}

.tooltip:hover .trait_tooltip_frame 
{ 
    display: block;
    width: 200px;
    color: #eee; 
    position: absolute;
    bottom:250%;
    left:105%; 
    background: rgba(0,0,0,.8);
	border: 2px solid rgba(0,0,0,.9);
    padding:5px; 
}

.tooltip .tooltip_title
{
	color:#fda500;
	margin-bottom: 10px;
}

.tooltip 
{
	cursor: pointer;
}

#tooltip .tooltip_title
{
	color: #fda500;
	font-size: 11px;
	padding-bottom: 8px;
}

#tooltip .traits_title
{
	color: #f0c172;
}

#tooltip .tooltip_content
{
	font-size: 11px;
	padding-bottom: 10px; 
}

#tooltip .rune_stats
{
	color:#949494;
}

#tooltip .stats_jewels
{
	color: #5599ff;
}

#tooltip .stats_amulets
{
	color: #03d204;
}

#tooltip .weapons_stats
{
	color: #03d204;
}

#tooltip li
{
	padding-bottom: 5px;
}



.tooltip .orb_tip 
{
	color: #5599ff;
	font-size: 11px;
	padding-bottom: 8px;
}

.tooltip .amulet_tip
{
	color: #03d204;
	font-size: 11px;
	padding-bottom: 8px;
}

.tooltip .weapon_tip
{
	color: #03d204;
	font-size: 11px;
	padding-bottom: 8px;
}

.tooltip_list .rune_tip
{
	color:#949494;
	font-size: 11px;
}


.tooltip_list li
{
	margin:0;
	line-height: 1 !important;
}


.tooltip .tooltip_list
{
	list-style: none;
	margin: 0;
}

.tooltip .tooltip_description
{
	font-size: 11px;
}

.ui-accordion-header
{
	color:#fff;
	font-size: 12px;
	font-weight: normal;
	margin: 2px 0 2px 0;
	padding:2px 0 2px 7px;
	background-color: rgba(0,0,0,0.3);
	cursor: pointer;
}

.ui-accordion-header:hover
{
	color:#e29653;
}  

.ui-accordion-content
{
	color:#fff;
}

*:focus  
{  
    outline: none;  
}  

#rune_accordion .tooltip_description
{
	color:#949494;
}

#traits
{
	overflow: visible;
}

#traitLineName
{
	font-weight: bold;
	font-size: 14px;
	color: #000000;
	margin-bottom: 2px;
}


#traitLine-1
{
	background-position: 0px 0px;
	margin-bottom: 10px;
}

#traitLine-2
{
	background-position: -632px 0px;
	margin-bottom: 10px;

}

#traitLine-3
{
	background-position: -1264px 0px;
	margin-bottom: 10px;

}

#traitLine-4
{
	background-position: -1896px 0px;
	margin-bottom: 10px;

}

#traitLine-5
{
	background-position: -2528px 0px;
	margin-bottom: 10px;

}


.necromancer-traits .traitField
{
	background: transparent url(../images/traits/necromancer-trait_sheet.jpg) no-repeat;

}

.elementalist-traits .traitField
{
	background: transparent url(../images/traits/elementalist-trait_sheet.jpg) no-repeat;

}


.engineer-traits .traitField
{
	background: transparent url(../images/traits/engineer-trait_sheet.jpg) no-repeat;

}

.guardian-traits .traitField
{
	background: transparent url(../images/traits/guardian-trait_sheet.jpg) no-repeat;

}

.mesmer-traits .traitField
{
	background: transparent url(../images/traits/mesmer-trait_sheet.jpg) no-repeat;

}

.ranger-traits .traitField
{
	background: transparent url(../images/traits/ranger-trait_sheet.jpg) no-repeat;

}

.thief-traits .traitField
{
	background: transparent url(../images/traits/thief-trait_sheet.jpg) no-repeat;

}

.warrior-traits .traitField
{
	background: transparent url(../images/traits/warrior-trait_sheet.jpg) no-repeat;

}

.traitField
{
	width: 631px;
	height: 65px;
	position: relative;
}

.plus_box 
{
	width: 20px;
	height: 20px;
	display: block;
	background: transparent url(../images/interface_plus.png) 0px 0px no-repeat;
	position: absolute;
	top: 11px;
	left: 7px;
}

.plus_box:hover 
{
	background: transparent url(../images/interface_plus.png) -21px 0px no-repeat;
}

.minus_box 
{
	width: 20px;
	height: 20px;
	display: block;
	background: transparent url(../images/interface_minus.png) 0px 0px no-repeat;
	position: absolute;
	top: 35px;
	left: 7px;
}

.minus_box:hover 
{
	background: transparent url(../images/interface_minus.png) -21px 0px no-repeat;
}

.traits_top
{
	float:right;
	height: 40px;
	width: 149px;
}

#trait_points_left
{
	font-size: 30px;
	float: left;
}

#trait_points_refund
{
	background: transparent url(../images/traits/refund.png) no-repeat;
	height: 32px;
	width: 32px;
	margin-top: 5px;
	margin-right: 15px;
	float: left;
}

.traits_invested 
{
	font-size: 36px;
	color: #ffffff;
	text-shadow: 0px 2px 12px rgba(0,0,0,.75);
	display: block;
	width: 40px;
	height: 65px;
	position: absolute;
	left: 37px;
	top: 8px;
	cursor: default;
	text-align: center;
}

.traits_iconcontainer span {
	width: 32px;
	height: 32px;
	margin: -1px 0 -3px;
	display: inline-block;
	background-image: url('../images/attributes/attributes.png');
}

.traits-agonyresistance {
	background-position: 0px 0px;
}

.traits-armor {
	background-position: -32px 0px;
}

.traits-attack {
	background-position: -64px 0px;
}

.traits-boonduration {
	background-position: -96px 0px;
}

.traits-conditiondamage {
	background-position: -128px 0px;
}

.traits-conditionduration {
	background-position: 0px -32px;
}

.traits-criticalchance {
	background-position: -32px -32px;
}

.traits-criticaldamage {
	background-position: -64px -32px;
}

.traits-elementalist, .traits-attunementrechargerate {
	background-position: -96px -32px;
}

.traits-engineer, .traits-toolbeltrechargerate {
	background-position: -128px -32px;
}

.traits-guardian, .traits-virtuerechargerate {
	background-position: 0px -64px;
}

.traits-healingpower {
	background-position: -32px -64px;
}

.traits-health {
	background-position: -64px -64px;
}

.traits-magicfind {
	background-position: -96px -64px;
}

.traits-mesmer, .traits-shreddingrechargerate {
	background-position: -128px -64px;
}

.traits-necromancer, .traits-lifeforcepool {
	background-position: 0px -96px;
}

.traits-power {
	background-position: -32px -96px;
}

.traits-precision {
	background-position: -64px -96px;
}

.traits-ranger, .traits-petattributebonus {
	background-position: -96px -96px;
}

.traits-thief, .traits-stealrechargerate  {
	background-position: -128px -96px;
}

.traits-toughness {
	background-position: 0px -128px;
}

.traits-vitality {
	background-position: -32px -128px;
}

.traits-warrior, .traits-burstdamage {
	background-position: -64px -128px;
}


.traits_pri 
{
	width: 75px;
	height: 27px;
	position: absolute;
	top: 3px;
	left: 94px;
	color: #ffffff;
	cursor: default;
}

.traits_pri span
{
	float:left;
}

.trait_pri strong
{
	font-weight: normal;
	margin-top: 7px;
	display: inline-block;
	font-size: 16px;
	text-shadow: 0px 1px 1px rgba(0,0,0,1);
}

.traits_sec
{
	width: 75px;
	height: 27px;
	position: absolute;
	top: 32px;
	left: 94px;
	color: #ffffff;
	cursor: default;
}

.traits_sec span
{
	float: left;
}

.trait_sec strong
{
	font-weight: normal;
	margin-top: 8px;
	display: inline-block;
	font-size: 16px;
	text-shadow: 0px 1px 1px rgba(0,0,0,1);
}

.traitField1
{
	width: 220px;
	height: 65px;
	position: relative;
	float: left;
}

.traitField2
{
	width: 124px;
	height: 65px;
	position: relative;
	float: left;
}

.traitField3,.traitField4
{
	width: 124px;
	height: 65px;
	position: relative;
	float: left;
	margin-left: 19px;
}

.traits_iconcontainer
{
	position: relative;
	height: 26px;
	width: 32px;
	margin-right: 3px;
	display: inline-block;
}

.trait_minor
{
	width: 41px;
	height: 47px;
	background: transparent url(../images/traits/traits_bg.png) 0px -15px no-repeat;
	display: block;
	margin-top: 7px;
	margin-right: 11px;
	float: left;
	position: relative;
}

.minor_class
{
	margin: 2px 0 0 1px;
}

.trait_major
{
	width: 57px;
	height: 72px;
	background: transparent url(../images/traits/traits_bg.png) -42px -0px no-repeat;
	display: block;
	margin-top: -8px;
	float: left;
	position: relative;
}

.trait_major:hover
{
	width: 57px;
	height: 72px;
	background: transparent url(../images/traits/traits_bg.png) -142px -0px no-repeat;
	display: block;
	margin-top: -8px;
	float: left;
	position: relative;
}

.trait_minor:hover
{

	background: transparent url(../images/traits/traits_bg.png) -100px -15px no-repeat;
}

.trait_major_locked
{
	background: transparent url(../images/traits/trait_icons.png) -80px 0px no-repeat;
	width: 53px;
	height: 60px;
	margin: 11px 0px 0px 2px;
}

.trait_major_unlocked
{
	background: transparent url(../images/traits/trait_icons.png) -782px 0px no-repeat;
	width: 53px;
	height: 60px;
	margin: 11px 0px 0px 2px;
}

.trait_minor_locked
{
	width: 39px;
	height: 45px;
	background: transparent url(../images/traits/trait_icons.png) -40px 0px no-repeat;
	margin: 1px 1px 0px 1px;
}

.trait_minor .t5
{
	width: 16px;
	height: 17px;
	display: block;
	background: transparent url(../images/traits/trait_numbers.png) 0px 0px no-repeat;
	position: absolute;
	top: 39px;
	left: 13px;
	z-index: 78;
}

.trait_major .t10
{
	width: 16px;
	height: 17px;
	display: block;
	background: transparent url(../images/traits/trait_numbers.png) -17px 0px no-repeat;
	position: absolute;
	top: 63px;
	left: 20px;
	z-index: 78;
}

.trait_minor .t15
{
	width: 16px;
	height: 17px;
	display: block;
	background: transparent url(../images/traits/trait_numbers.png) -35px 0px no-repeat;
	position: absolute;
	top: 39px;
	left: 13px;
	z-index: 78;
}

.trait_major .t20
{
	width: 16px;
	height: 17px;
	display: block;
	background: transparent url(../images/traits/trait_numbers.png) 0px -18px no-repeat;
	position: absolute;
	top: 63px;
	left: 20px;
	z-index: 78;
}

.trait_minor .t25
{
	width: 16px;
	height: 17px;
	display: block;
	background: transparent url(../images/traits/trait_numbers.png) -17px -18px no-repeat;
	position: absolute;
	top: 39px;
	left: 13px;
	z-index: 78;
}

.trait_major .t30
{
	width: 16px;
	height: 17px;
	display: block;
	background: transparent url(../images/traits/trait_numbers.png) -35px -18px no-repeat;
	position: absolute;
	top: 63px;
	left: 20px;
	z-index: 78;
}

.trait_bonus
{
	top: 4px;
	position: absolute;
}

#skills {
	
}

#skills * {
	overflow: hidden;
}

#skills .skillbar {
	width: 100%;
	padding-top: 49px;
	/*margin-top: -43px;
	float: left;*/
}

#skills .skillbar ul {
	display: inline-block;
	margin: 0;
}

#skills .skillbar ul li.skill {
	width: 50px;
	height: 50px;
	background: rgba(0,0,0,.75);
	border: 1px solid #000;
	border-left: 0;
	display: inline-block;
	margin: 10px 0 0 -4px;
	overflow: visible;
}

#skills .skillbar ul li.skill:first-child{
	margin-left: 0;
	border-left: 1px solid #000;
}

#skills .skillbar ul.skills_heal li.skill,
#skills .skillbar ul.skills_utility li.skill,
#skills .skillbar ul.skills_elite li.skill {
	margin-top: 0;
}

#skills .skillbar ul li.skill .skill_expand {
	position: absolute;
	height: 10px;
	width: 51px;
	background: rgba(0,0,0,.5);
	margin: -10px 0 0 -1px;
}

#skills .skillbar ul li.skill:last-child .skill_expand {
	width: 52px;
}

#skills .skillbar ul li.skill .skill_expand span {
	color: #fff;
	float: right;
	margin: 0;
	padding: 0;
	margin-top: -4px;
	height: 12px;
}

#skills .skillbar ul li.skill .skill_hotkey {
	color: #fff;
	font-size: 10px;
	background: #000;
	width: 16px;
	height: 16px;
	display: block;
	text-align: center;
	margin: 17px 0 0 17px;
	
	/* Border radius */
	-webkit-border-radius: 8px;
    border-radius: 8px;
}

#skills .skillbar .vitals {
	vertical-align: top;
	display: inline-block;
	margin: -62px -5px 0 -4px;
}

#skills .skillbar .vitals .endurance {
	margin: 0 0 -32px -1px;
	
	-webkit-border-radius: 0;
    border-radius: 0;
	
	-webkit-box-shadow: none;
    box-shadow: none;
}

#skills .skillbar .vitals .health {
	width: 100px;
	height: 100px;
	border: 1px solid rgba(0,0,0,.75);
	
	/* Border radius */
	-webkit-border-radius: 50px;
    border-radius: 50px;
	
	/* Gradient */
	background: rgb(255,7,7);
	background: -moz-linear-gradient(top,  rgb(255,7,7) 0%, rgb(150,0,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,7,7)), color-stop(100%,rgb(150,0,0)));
	background: -webkit-linear-gradient(top,  rgb(255,7,7) 0%,rgb(150,0,0) 100%);
	background: -o-linear-gradient(top,  rgb(255,7,7) 0%,rgb(150,0,0) 100%);
	background: -ms-linear-gradient(top,  rgb(255,7,7) 0%,rgb(150,0,0) 100%);
	background: linear-gradient(to bottom,  rgb(255,7,7) 0%,rgb(150,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0707', endColorstr='#960000',GradientType=0 );
}

#skills .skillbar .vitals .health span {
	width: 100%;
	text-align: center;
	display: block;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	margin-top: 35px;
}

#skills .skillbar .skills_heal li,
#skills .skillbar .skills_utility li,
#skills .skillbar .skills_elite li {
	
}

#skills .skillbar .skills_heal li .skill_expand:hover,
#skills .skillbar .skills_utility li .skill_expand:hover,
#skills .skillbar .skills_elite li .skill_expand:hover {
	background: rgba(0,0,0,.75);
	cursor: pointer;
}











/* jQuery UI */
#build {
	float: left;
	width: 80%;
	border: 0;
	background: none;
	padding: 0;
	
	/* Border radius */
	-webkit-border-radius: 0;
    border-radius: 0;
}

#build ul {
	padding: 0;
	list-style: none;
	background: none;
	border: 0;
	
	/* Border radius */
	-webkit-border-radius: 0;
    border-radius: 0;
}

#build ul li {
	padding: 0;
	margin: 1px 0;
	background: 0;
	border: 0;
	width: 32px;
	
	/* Border radius */
	-webkit-border-radius: 0;
    border-radius: 0;
}

#build ul li a {
	padding: 0;
	margin: 0;
	cursor: pointer;
	width: 32px;
	height: 32px;
	overflow: hidden;
	background-position: left;
}

#build ul li a.character {
	background: url("../images/menu/character.png");
}

#build ul li a.traits {
	background: url("../images/menu/traits.png");
}

#build ul li a.story {
	background: url("../images/menu/story.png");
}

#build ul li a.social {
	background: url("../images/menu/social.png");
}

#build ul li a:hover,
#build ul li.ui-tabs-active a {
	background-position: right;
}

#build ul li.ui-tabs-active {
	border-right: 1px solid #413124;
	background: #413124;
	margin: 0;
	margin-right: -1px;
}

#build ul li.ui-tabs-active span.gradient-line,
#build ul li.ui-tabs-active span.color-fill {
	display: block;
}




















.scroll-content {
	position: absolute;
	top: 10px;
	left: 0;
	padding-right: 16px;
	width: 100%;
}

.scroll-pane {
	position: relative;
}

.slider-wrap {
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 36px;
	width: 16px;
	background: url('../images/scrollbar/pathImage.png');
	background-position-x: -4px;
}

.slider-vertical {
	position: relative;
	height: 100%;
	border: 0;
	background: none;
	
	/* Border radius */
	-webkit-border-radius: 0;
    border-radius: 0;
}

.ui-slider-handle {
	width: 16px !important;
	height: 10px;
	margin: 0 auto;
	display: block;
	position: absolute;
	border: 0 !important;
	background-color: none !important;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	background: none;
}

.ui-slider-handle img {
	border: none;
	max-width: 16px;
}

.scrollbar-top {
	position: absolute;
	top: 0;
	margin-top: -9px;
}

.scrollbar-bottom {
	position: absolute;
	bottom: 0;
	margin-bottom: -9px;
}

.scrollbar-grip {
	position: absolute;
	top:50%;
	width: 16px;
}



.accordionHeader {
	background: #000;
	color: #fff;
	cursor: pointer;
	padding: 2px 10px;
}

.accordionHeader .accordionHeaderTitle {
	
}

.accordionHeader .accordionHeaderArrow {
	display: inline-block;
	float: right;
	
	/* Animation */
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.accordionHeader.collapsed .accordionHeaderArrow {
	/* Rotate */
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}





.hide {
	display: none !important;
}

.show {
	display: block;
}